In [105]:
# Q1.a
a = {'dep' : ['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'], 
            'sno' : ['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'],
              'gpa' : [2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70]}
print(a)

{'dep': ['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'], 'sno': ['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'], 'gpa': [2.1, 3.5, 4.5, 2.7, 3.0, 3.15, 4.0, 0.0, 3.25, 3.7]}

In [106]:
# Q1.b
import numpy as np

b = np.array([['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'], 
              ['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'],
              [2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70]])
print(b)

[['cs' 'cs' 'dt' 'dcd' 'dt' 'as' 'as' 'ice' 'ice' 'ice']
 ['0001' '0002' '0003' '0004' '0005' '0006' '0007' '0008' '0009' '0010']
 ['2.1' '3.5' '4.5' '2.7' '3.0' '3.15' '4.0' '0.0' '3.25' '3.7']]

In [107]:
# Q1.c
import pandas as pd

c = pd.DataFrame({
    'dep' : ['cs', 'cs', 'dt', 'dcd', 'dt', 'as', 'as', 'ice', 'ice', 'ice'],
    'sno' : ['0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010'],
    'gpa' : [2.10, 3.50, 4.50, 2.70, 3.00, 3.15, 4.00, 0.00, 3.25, 3.70]
})
print(c.T)

        0     1     2     3     4     5     6     7     8     9
dep    cs    cs    dt   dcd    dt    as    as   ice   ice   ice
sno  0001  0002  0003  0004  0005  0006  0007  0008  0009  0010
gpa   2.1   3.5   4.5   2.7     3  3.15     4     0  3.25   3.7

In [108]:
# Q2.a

print(round(sum(a['gpa'])/len(a['gpa']),2))

2.99

In [109]:
# Q2.b

x = np.array(b[2],dtype = float)

print(np.mean(x))
print(np.median(x))

2.99
3.2

In [110]:
# Q2.c

print(round(c['gpa'].mean(),2))
print(c['gpa'].median())

2.99
3.2

In [111]:
# Q3

def med(lst):
    lst.sort()
    while(True):
        if(len(lst)==1):
            return lst[0]
        elif(len(lst)==2):
            return (lst[0]+lst[1])/2
        lst.remove(min(lst))
        lst.remove(max(lst))

print(med(a['gpa']))

3.2

In [112]:
# Q4

print(c.sort_values('gpa', ascending = False).head(3).tail(1)['gpa'])

9    3.7
Name: gpa, dtype: float64

In [113]:
# Q5

c.groupby('dep').aggregate(['mean',max,min])

          gpa
         mean  max   min
dep
as   3.575000  4.0  3.15
cs   2.800000  3.5  2.10
dcd  2.700000  2.7  2.70
dt   3.750000  4.5  3.00
ice  2.316667  3.7  0.00

In [114]:
# Q6

d = pd.DataFrame ({ 'dep' : ["cs", "cs", "dt", "dt", "dt", "as", "as", "cs", "dt", "as"],
'sno' : ["0001", "0002", "0003", "0004", "0005", "0006", "0007", "0008", "0009", "0010"],
'gpa' : [2.10, 3.50, 4.50, 2.70, 3.00, 3.20, 4.00, 0.00, 3.20, 3.70],
'year' : [2018, 2018, 2019, 2019, 2020, 2020, 2020, 2020, 2021, 2021]})

pd.pivot_table(data=d, values='gpa', index='dep', columns='year')

year  2018  2019  2020  2021
dep
as     NaN   NaN   3.6   3.7
cs     2.8   NaN   0.0   NaN
dt     NaN   3.6   3.0   3.2